#front-key-visual .carousel{

}

.carousel-indicators > li {
	border: 1px #AAA solid;
	background: #AAA;
}

.carousel-caption > h1 {
	color: #0076C0;
	text-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.carousel-caption > p {
	color: #0076C0;
	text-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.about-us-image-container {
	width: 100%;
}

.about-us-image {
	width: 100%;
	max-width: 800px;
}